
<h2>About me</h2>
<p>Hi there 👋 My name is Rui Tao(陶瑞). I'm currently a junior undergraduate student in SJTU, majoring in computer science in IEEE class.
My research interests include machine learning, combinatorial optimization and multimoding.
I'm honored to be an intern-researcher in <a href="https://thinklab.sjtu.edu.cn/">ReThinkLab</a>, advised by Prof. <a href="https://thinklab.sjtu.edu.cn/">Junchi Yan</a> and Dr. <a href="https://www.researchgate.net/profile/Liangliang-Shi-2">Liangliang Shi</a>,
focusing on variant Optimal Transportation(OT) and its applications.</p>

<hr/>

<h2>Publication</h2>

<p>🥺☘️</p>

<h2>Project</h2>
<p>▣ <a href="https://github.com/CalciumArgon/SnakeGame">Snake Adventure</a>: <br>Advanced greedy-snake developed by Qt.</p>

<p>▣ <a href="https://github.com/CalciumArgon/Infection-Model">Infection Model</a>: <br>Generic & parameter-free agent-based modeling for infectious propagation.</p>

<p>▣ <a href="https://github.com/xshenhan/Noodle-Scholar">Noodle Scholar</a>: <br>Neat scholar search engine for 2,000,000+ selected papers on Arxiv. Support table parsing, picture extraction, LLM summary and statistical analysis.<p>


<!-- <p>▣ Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></p> -->


<h2>Course Note</h2>
<p>▣ [SJTU] AI2615《算法设计与分析》<a href="/assets/files/AI2615_note.pdf"><br>Note</a></p>

<p>▣ [UCB] CS61A 《程序构造原理》<a href="https://github.com/CalciumArgon/CS61A_course_projects"><br>Note & Code</a></p>

<!-- <p>CS50AI: [ Harvard ]<br> 《人工智能导论》Note & Code</p> -->
<!-- <p>CS15213: [ CMU ]<br> 《深入理解计算机系统》<a href="https://github.com/CalciumArgon/CSAPP_course_lab">Note & Code</a></p> -->

<!-- <p>For more information on <a href="https://github.com/CalciumArgon/CalciumArgon.github.io">GitHub</a>.</p> -->

<hr/>

<h2>Contact</h2>
<ul class="fa-ul main-list">
  
    <a href="mailto:taorui_sjtu@sjtu.edu.cn"><span class="email-icon"><img src="../assets/email.svg"></span></a>
    <a href="https://github.com/CalciumArgon"><span class="github-icon"><img src="../assets/github.svg"></span></a>
    <a href="https://www.zhihu.com/people/bu-ping-fan-de-zi-ji-41"><span class="zhihu-icon"><img src="../assets/zhihu.svg"></span></a>

  <!-- <li class="main-list-item">
    <a href="https://github.com/CalciumArgon"><span class="fa fa-github fa-lg main-list-item-icon"></span></a>
  </li> -->

  <!-- <li class="main-list-item">
    <link href="../assets/zhihu.css">
    <img src="../assets/zhihu.svg">
    <a href="https://www.zhihu.com/people/bu-ping-fan-de-zi-ji-41"><span class="zhihu-icon"></span>ZhiHu</a>
  </li> -->

	<!-- <li class="main-list-item">
    <a href="http://excentris.net"><span class="fa fa-user fa-lg main-list-item-icon"></span>The Author</a>
  </li> -->

	<!-- <li class="main-list-item">
    <span class="fa fa-share-nodes fa-lg main-list-item-icon"></span>
    <a href="https://calciumargon.github.io">Website</a>
  </li> -->

	<!-- <li class="main-list-item">
    <a href="mailto:taorui_sjtu@sjtu.edu.cn"><span class="fa fa-envelope main-list-item-icon"></span>Email</a>
  </li> -->
</ul>
