
<h2>About me</h2>
<p>我是陶瑞 (Ray Tao), 我就读于上海交通大学 IEEE试点班-计算机科学与技术方向, 目前是本科大二学生. 我对并行与分布式系统感兴趣, 但目前还没有相关项目或科研经验. </p>

<h2>Projects</h2>
<ul>
  <li><a href="https://github.com/CalciumArgon/SnakeGame">SnakeAdventure</a>: <br>贪吃蛇剧情冒险 (Qt界面)</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>

<h2>Course Note</h2>
<ul>
  <li>CS61A: 《程序构造原理》<a href="https://github.com/CalciumArgon/CS61A_course_projects">Note & Code</a></li>
  <li>CS50AI: 《Introduction to AI》人工智能导论 Note & Code</li>
</ul>

<p>For more information on <a href="https://github.com/CalciumArgon/CalciumArgon.github.io">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    
    <!-- <img src="../assets/github.svg"> -->
    <a href="https://github.com/CalciumArgon"><span class="fa fa-github fa-lg main-list-item-icon"></span>GitHub</a>
  </li>
  <!-- <li class="main-list-item">
    <span class="fa fa-zhihu main-list-item-icon"></span>
    <img src="../assets/zhihu.svg">
    <a href="https://www.zhihu.com/people/bu-ping-fan-de-zi-ji-41">知乎</a>
  </li> -->
	<!-- <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li> -->
	<!-- <li class="main-list-item">
    <span class="fa fa-share-nodes fa-lg main-list-item-icon"></span>
    <a href="https://calciumargon.github.io">Website</a>
  </li> -->
	<li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:taorui_sjtu@sjtu.edu.cn">Email</a>
  </li>
</ul>